<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h2><%= @team_name %></h2>
    <h2><%= @coach %></h2>
    <h2><%= @point_gaurd %></h2>
    <h2><%= @shooting_gaurd %></h2>
    <h2><%= @small_forward %></h2>
    <h2><%= @power_forward %></h2>
    <h2><%= @power %></h2>
 </body>
</html>


